= @joke

%h2.center List of words
%p.center
  = link "Add a new word", to: Routes.home_path(@conn, :new), class: "btn btn-secondary green"

%table.centered
  %thead 
    %tr 
      %th English 
      %th Russian 
  %tbody
    = for word <- @words do
      %tr
        %td= link word.eng, to: Routes.home_path(@conn, :show, word)
        %td= link word.rus, to: Routes.home_path(@conn, :show, word)
        -# %td= link "Edit", to: Routes.home_path(@conn, :edit, word), class: "btn btn-primary blue"
        -# %td= link "Delete", to: Routes.home_path(@conn, :delete, word), method: :delete, class: "btn btn-primary red"